## EAE - Introduction to Programming Languages for Data 
## Day 2 - 27/11/2023

### Instructor:  
Enric Domingo  
*Machine Learning and Software Engineer at ERNI*  
edomingod@professional.eae.es

#### Python fundamentals:

0. Recap
1. Data types conversion
2. String methods
3. Lists
4. Comparison operators
5. Conditional statements
   - if
   - elif
   - else
6. Loops
   - for
   - while
   - break
   - continue
7. Functions
8. Exercises

---
## 0. Recap

Let's do a quick refresh of the previous session.

And now, let's put it in practice with this exercise:

Write a program that asks one number to the user, then another number, converts each of them to float with float() and then prints the sum, the difference, the product and the division of both numbers.

For example, if the user inputs num1 as 10 and num2 as 3, the program should print:

    You have entered 10 and 3  
    The sum is 13.0  
    The difference is 7.0  
    The product is 30.0  
    The quotient is 3.3333333333333335

In [87]:
num1 = float(input("Write your first number")) 
num2 = float(input("Write your second number")) 

print("You have entered", num1, "and", num2)
print("The sum is", num1 + num2)
print("The difference is", num1 - num2)
print("The product is", num1 * num2)
print("The quotient is", num1 / num2)

You have entered 10.0 and 3.0
The sum is 13.0
The difference is 7.0
The product is 30.0
The quotient is 3.3333333333333335

In [88]:
# ChatGpt solution with comments / if / and a more detailed explanation

# Get user input for the first number
num1 = float(input("Enter the first number: "))

# Get user input for the second number
num2 = float(input("Enter the second number: "))

# Perform calculations
sum_result = num1 + num2
difference_result = num1 - num2
product_result = num1 * num2

# Check if num2 is not zero for division
if num2 != 0:
    quotient_result = num1 / num2
else:
    quotient_result = "Undefined (division by zero)"

# Print the results
print(f"You have entered {num1} and {num2}")
print(f"The sum is {sum_result}")
print(f"The difference is {difference_result}")
print(f"The product is {product_result}")
print(f"The quotient is {quotient_result}")

You have entered 1.0 and 1.0
The sum is 2.0
The difference is 0.0
The product is 1.0
The quotient is 1.0

---
## 1. Data types conversion

Every data type has a constructor that can be used to convert it into a different data type. The most common data types conversions are:
- **int()**: normally used to convert a float into an integer or a string with character numbers into an integer. 
  
- **float()**: normally used to convert an integer into a float or a string with character numbers into a float.

- **str()**: normally used to convert an integer or a float into a string.

- **bool()**: normally used to convert an integer or a float into a boolean. Zero is converted into False and any other number into True. Also, an empty string is converted into False and any other string into True.

In [89]:
# int()

num = "123"
print(num, type(num))

num = int(num)    # converting the string to integer
print(num, type(num))

123 <class 'str'>
123 <class 'int'>

In [90]:
num + 5

128

In [91]:
print(int(3.14), int(3.99))     # converting float to integer
print(int(False), int(True))    # converting boolean to integer

3 3
0 1

In [92]:
# We cannot convert a string with letters, special characters or numbers with decimal points into an integer
# Uncomment and run the following lines one by one to see the error messages:

# print(int("3.14"))    # ValueError: invalid literal for int() with base 10: '3.14'
# print(int("3+4"))     # ValueError: invalid literal for int() with base 10: '3+4'
# print(int("abc"))     # ValueError: invalid literal for int() with base 10: 'abc'

In [93]:
# float()

num = 123
print(num, type(num))

num = float(num)    # converting the integer to float
print(num, type(num))

123 <class 'int'>
123.0 <class 'float'>

In [94]:
print(float("12.34"), float("3"))     # converting string to float
print(float(False), float(True))      # converting boolean to float

12.34 3.0
0.0 1.0

In [95]:
# str()

num = 123
print(num, type(num))

num = str(num)    # converting the integer to string
print(num, type(num))

123 <class 'int'>
123 <class 'str'>

In [96]:
print(str(3.14))                # converting float to string
print(str(False), str(True))    # converting boolean to string

3.14
False True

In [97]:
# bool()
# boolean

print(bool(0), bool(1), bool(2), bool(-5))                              # converting integer to boolean

print(bool(0.0), bool(0.1), bool(-20.41))                               # converting float to boolean

print(bool(""), bool("False"), bool(" "), bool("True"), bool("abc"))    # converting string to boolean 

# only 0, 0.0 and "" will convert to False, rest all will convert to True

False True True True
False True True
False True True True True

---
## 2. Strings methods

#### 2.1. Common methods

In the previous lesson we saw what are strings and how to concatenate and print them. In this section we will see some other useful methods and operation that can be applied to strings:

- **len()**: returns the length of the string.

- **upper()**: returns the string in uppercase.

- **lower()**: returns the string in lowercase.

- **replace()**: replaces a substring with another substring.

- **split()**: splits the string into a list of substrings.

- **join()**: joins a list of substrings into a string.

- **strip()**: removes the leading and trailing characters of a string.

- **find()**: returns the index of the first occurrence of a substring.

- **count()**: returns the number of occurrences of a substring.

- **in**: returns True if a substring is contained in the string.

These are some of the most common methods, but there are more. You don't need to remember all of them, but you should know that they exist and how to find them when you need them.

In [98]:
# len(<str>)

print(len("abc"))
print(len("a b c")) # it counts the blank spaces
print(len("123")) 
print(len("123.45")) # it counts the . also

3
5
3
6

In [99]:
name = "Isaac Newton"       # it also works with variables
print("The length of the name is", len(name), "characters")

The length of the name is 12 characters

In [100]:
# <str>.upper()

print("great!".upper())
print("John Smith".upper())

GREAT!
JOHN SMITH

In [101]:
# <str>.lower()

print("John Smith".lower())
print("THE NUMBER 123".lower())

john smith
the number 123

In [102]:
"Apple", "apple", "APPLE"

('Apple', 'apple', 'APPLE')

In [103]:
# <str>.replace(<old>, <new>)
print("James Stark".replace("Stark", "Bond"))

James Bond

In [104]:
print("This is bad bad bad!".replace("bad", "good"))   # it replaces all the occurrences of the old string

This is good good good!

In [105]:
text = "We.can.fix.this.replacing.dots.with.spaces"
# you can replace for examples SKUs when you have a big data base with a lot of numbers

print(text.replace(".", " "))

We can fix this replacing dots with spaces

In [106]:
text = "We can also remove all spaces"

print(text.replace(" ", ""))    # it can also be used to remove all the occurrences of a character if we replace it with an empty string

Wecanalsoremoveallspaces

In [107]:
# <str>.split(<sep>)

text = "I want every word of this sentence a part"

print(text.split())  # by default it splits on spaces

['I', 'want', 'every', 'word', 'of', 'this', 'sentence', 'a', 'part']

In [108]:
print(text.split("this"))  # we can specify the separator

['I want every word of ', ' sentence a part']

In [109]:
# <sep>.join(<list>)

print(" ".join(["I", "want", "every", "word", "of", "this", "list", "in", "a", "sentence"]))    # we can specify the separator before the .join() function

I want every word of this list in a sentence

In [110]:
# <str>.strip(<chars_to_delete>)

print("   I have a lot of spaces before and after   ".strip())    # by default it removes all the spaces before and after the string

I have a lot of spaces before and after

In [111]:
print("It can also remove initial or final characters,".strip(","))
print("...It can also remove initial or final characters...".strip("."))          # we can specify the characters to be removed

It can also remove initial or final characters
It can also remove initial or final characters

In [112]:
# <str>.find()

print("There is an apple in the fridge, bring the apple, please".find("apple"))    
# it returns the index of the first occurrence of the substring
# its 12 including the spaces

12

In [113]:
# <str>.find()

print("There is an apple in the fridge, bring the apple, please".find("pear"))    
# if its -1 it doesnt exist

-1

In [114]:
# <str>.count()

print("There is an apple in the fridge, bring the apple, please".count("apple"))   # it returns the number of occurrences of the substring

2

In [115]:
# <substr> in <str>

text = "My vehicles are a bike, a car, and a truck"

is_car = "car" in text
is_bus = "bus" in text

print(is_car)
print(is_bus)

True
False

#### 2.2. Special Characters in Strings

There are some special characters that can be used in strings. The most common are:

```python	
- \n: new line
- \t: tab
- \\: backslash
- \': single quote
- \": double quote
```

In [404]:
# New line character \n
# the / is for a normal character, like a . and ,

text = "The first line\nThe second line\nThe third line"

print(text)

The first line
The second line
The third line

In [117]:
# Tab character \t

text = "The first column\tThe second column\tThe third column"

print(text)

The first column	The second column	The third column

In [118]:
# Backslash character \ to print special characters

print("We need to use two backslashes like this \\")

We need to use two backslashes like this \

In [119]:
print("We can also print a double quote like this \", like in \"Hello\" ")

print('And if we use single quotes, we need to use a backslash to print a single quote like this \', like in don\'t')

We can also print a double quote like this ", like in "Hello"
And if we use single quotes, we need to use a backslash to print a single quote like this ', like in don't

In [120]:
print ('don\'t') # when you replace "" with '' for strings

don't

#### 2.3. String formatting

There are different ways to format strings in Python. The most common are:

**str.format()**: This method is used to format strings by replacing the placeholders with the values of the variables. The placeholders are defined with curly brackets and the variables are passed as arguments to the method.

**f-strings**: This method is used to format strings by adding the variables directly into the string. The variables are defined with curly brackets and the string is preceded by the letter f.

In [121]:
# str.format()

a = 2
b = 3
result = a + b
text = "The sum of {} and {} is {}".format(a, b, result)
# the first {} is for the first letter in the format
print(text)

The sum of 2 and 3 is 5

In [122]:
# f-strings
# this is better to understand which variables are being sumed up
# its more readable

a = 2
b = 3
text = f"The sum of {a} and {b} is {a+b}"
print(text)

The sum of 2 and 3 is 5

In [123]:
# A useful application of this could be to customize file names:
# This is useful to not manually put the name in each file

employee = "John"
date = "27-11-23" #this can be made automatically within a company so they can fetch the date without adding manually

filename = f"{employee.lower()}_report_{date}.txt"

print(filename)

john_report_27-11-23.txt

#### 2.4. String indexing and slicing

Strings are sequences of characters, so they can be indexed and sliced. The indexing starts at 0 and the last character has index -1. The slicing is done with the notation [start:stop:step]. If the step is not specified, it is assumed to be 1. If the start is not specified, it is assumed to be 0. If the stop is not specified, it is assumed to be the length of the string.

In [124]:
word = "Python"

print(word[0])    
# first character
# In Python the first is always 0, then second is 1, etc...

P

In [125]:
print(word[1]) #y
print(word[2]) #t
print(word[3]) #h
print(word[4]) #o
print(word[5]) #n
# accesing in a Database, for example, with an element

y
t
h
o
n

In [126]:
print(word[-1])   
# last character
# in Python -1 is last character, -2 anteultimo, etc

n

In [127]:
text = "Python is a great language"

print(text[0:6])   
#first 6 characters
# the last letter is not included, meaning if the word is Python is 6 words, you put from 0 (which is one)
# till 6 (which is n)

Python

In [128]:
print(text[12:17])      # characters from index 12 to 16

great

In [129]:
print(text[:-8]) # putting the first : at the beginning is different than putting it after

Python is a great

In [130]:
print(text[-8:])

language

#### 2.5. Multiline strings

Multiline strings are defined with triple quotes. They are useful to define long strings that span multiple lines.

In [131]:
my_long_text = """This text is a document.

It has multiple lines.
Using triple quotes makes it easier to write long texts."""

print(my_long_text) # this is better for paragraphs than the slash in the examples seen before

This text is a document.

It has multiple lines.
Using triple quotes makes it easier to write long texts.

In [132]:
# We can also use triple quotes to write a string in a single line

text = """This works too"""

print(text)

This works too

In [133]:
# Multiline strings can also use f-strings

company_name = "ABC"
city = "New York"

long_text = f"""The company {company_name} 
is located in {city}."""

print(long_text)

The company ABC
is located in New York.

---
## 3. Lists

Lists are ordered sequences of elements. They are defined with square brackets and the elements are separated by commas. The elements can be of any data type and they can be repeated. Lists are mutable, so they can be modified after they are created.

In [134]:
my_bag = ["pen", "notebook", "phone", "keys", "wallet"]

print(my_bag)

['pen', 'notebook', 'phone', 'keys', 'wallet']

In [135]:
empty = [1]

Lists can contain any data type, including other lists:

In [136]:
random_list = ["a", 1, True, 3.14, "b", False, 2.71, "c"] #it can have any type, a string a boolean, an integre
print(random_list)

list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(list_of_lists)

# Sometimes it's better to write a list in multiple lines to make it more readable
list_of_lists = [
    [1, 2, 3], 
    [4, 5, 6], 
    [7, 8, 9]
]
print(list_of_lists)

['a', 1, True, 3.14, 'b', False, 2.71, 'c']
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [137]:
# Try to create a list with four lists in it:
# The first one containing the Q1 months of the year [Jan, Feb, Mar], the second one containing the Q2 months of the year [Apr, May, Jun], and so on.

In [138]:
year = [["Jan", "Feb", "Mar"], ["Apr", "May", "Jun"], ["Jul", "Aug", "Sep"], ["Oct", "Nov", "Dec"]]
print(year)

# Sometimes it's better to write a list in multiple lines to make it more readable
year = [
    ["Jan", "Feb", "Mar"], 
    ["Apr", "May", "Jun"], 
    ["Jul", "Aug", "Sep"],
    ["Oct", "Nov", "Dec"]
    ]
print(year)

[['Jan', 'Feb', 'Mar'], ['Apr', 'May', 'Jun'], ['Jul', 'Aug', 'Sep'], ['Oct', 'Nov', 'Dec']]
[['Jan', 'Feb', 'Mar'], ['Apr', 'May', 'Jun'], ['Jul', 'Aug', 'Sep'], ['Oct', 'Nov', 'Dec']]

#### 3.1. Indexing and slicing of lists

Lists, similarly to strings, are sequences of elements. So they can be also indexed and sliced. The indexing starts at 0 and the last element has index -1. The slicing is done with the notation [start:stop:step]. If the step is not specified, it is assumed to be 1. If the start is not specified, it is assumed to be 0. If the stop is not specified, it is assumed to be the length of the list.

In [139]:
sports_offer = ["football", "basketball", "tennis", "volleyball", "baseball"]

# indexing
print(sports_offer[0])

football

In [140]:
sports_offer = ["football", "basketball", "tennis", "volleyball", "baseball"]

# indexing
print(sports_offer[0][1]) # another [] to select the second letter (o) in the first word (football)

o

In [141]:
print(sports_offer[1])
print(sports_offer[2])

basketball
tennis

In [142]:
print(sports_offer[-1])
print(sports_offer[-2])

baseball
volleyball

In [143]:
# slicing [start:stop:step]
print(sports_offer[0:2]) #its the first 2 words, not the third because its "0" and "1", NOT the "2"
print(sports_offer[1:4])

['football', 'basketball']
['basketball', 'tennis', 'volleyball']

In [144]:
print(sports_offer[2:])   # from index 2 to the end, equivalent to [2:len(sports_offer)]

['tennis', 'volleyball', 'baseball']

In [145]:
print(sports_offer[-2:])   # from index -2 to the end, printing the last two elements

['volleyball', 'baseball']

In [146]:
list_of_N = [1,2,3,4,5,6,7]
list_of_N [::3] # you are skipping number 3

[1, 4, 7]

In [147]:
print(sports_offer[0:-1:2])    # from index 0 to the last element, step 2
# sports_offer = ["football", "basketball", "tennis", "volleyball", "baseball"]

['football', 'tennis']

In [148]:
print(sports_offer[::2])      # this will do the same, by default start is 0 and stop is len(sports_offer)

['football', 'tennis', 'baseball']

In [149]:
fruits = ["apple", "banana", "orange", "grape", "kiwi", "pineapple"]

# all the fruits except the first and the last
print(fruits[1:-1])

['banana', 'orange', 'grape', 'kiwi']

In [150]:
# try printing the last 3 fruits

In [151]:
print(fruits[-3:])

['grape', 'kiwi', 'pineapple']

#### 3.2. Changing elements in a list

Lists are mutable, so they can be modified after they are created. The elements of a list can be changed by assigning a new value to the element.

In [152]:
inventory = ["shirt", "t-shirt", "jeans", "jacket", "socks", "shoes"]

inventory[0] = "sweater"    # we can change the value of an element accessing it by its index
print(inventory)

['sweater', 't-shirt', 'jeans', 'jacket', 'socks', 'shoes']

In [153]:
# try changing the value of the last element to "boots" using negative indexing

In [154]:
inventory = ["shirt", "t-shirt", "jeans", "jacket", "socks", "shoes"]

inventory[-1] = "boots"    # we can change the value of an element accessing it by its index
print(inventory)

['shirt', 't-shirt', 'jeans', 'jacket', 'socks', 'boots']

#### 3.3. List functions

There are some functions that can be applied to lists, the most common are:

- **len()**: returns the length of the list.

- **max()**: returns the maximum value of the list.

- **min()**: returns the minimum value of the list.

- **sum()**: returns the sum of the values of the list.ç
  
- **sorted()**: returns a sorted copy of the list.

- **list()**: returns a list from a sequence.

- **in()**: returns True if an element is contained in the list.

- **append()**: adds an element to the end of the list.

- **extend()**: adds the elements of a list to the end of the list.

- **insert()**: inserts an element at the specified index.

- **remove()**: removes the first occurrence of an element.

- **pop()**: removes the element at the specified index.

- **clear()**: removes all the elements of the list.

- **count()**: returns the number of occurrences of an element.

- **index()**: returns the index of the first occurrence of an element.

In [406]:
prime_numbers = [2, 3, 5, 7, 11, 13, 17, 19, 23] #len works for integers
colors = ["red", "green", "blue", "yellow", "orange", "purple"] #and also for strings

# len()

len(prime_numbers)    # length of the list

9

In [156]:
len(colors)

6

In [157]:
# max()

max(prime_numbers)    # maximum value of the list

23

In [158]:
max(colors)           # maximum value of the list (alphabetically)

'yellow'

In [159]:
# min()

min(prime_numbers)    # minimum value of the list

2

In [160]:
min(colors)           # minimum value of the list (alphabetically)

'blue'

In [161]:
# sum()

sum(prime_numbers)    # sum of all the elements of the list

100

In [162]:
sum(colors)         # this will give an error, because we cannot sum strings

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [165]:
revenue = [45.76, 5.22, 12.34, 105.27, 34.56, 2.89, 67.89]

# sorted()

sorted(revenue)     # returns a new list with the elements sorted in ascending order b

[2.89, 5.22, 12.34, 34.56, 45.76, 67.89, 105.27]

In [166]:
new_revenue = sorted(revenue)

print (revenue)
print (new_revenue)

[45.76, 5.22, 12.34, 105.27, 34.56, 2.89, 67.89]
[2.89, 5.22, 12.34, 34.56, 45.76, 67.89, 105.27]

In [174]:
revenue [3], new_revenue [3] #to select different values of the two lists

(105.27, 34.56)

In [ ]:
sorted(colors)      # returns a new list with the elements sorted in alphabetical order

['blue', 'green', 'orange', 'purple', 'red', 'yellow']

In [170]:
sorted(revenue, reverse=True)    # returns a new list with the elements sorted in descending order

[105.27, 67.89, 45.76, 34.56, 12.34, 5.22, 2.89]

In [168]:
sorted(revenue, reverse=False)    # returns the list in ascending order (as default)

[2.89, 5.22, 12.34, 34.56, 45.76, 67.89, 105.27]

In [175]:
# list()

list("Python")      # converts a string into a list of characters

['P', 'y', 't', 'h', 'o', 'n']

In [179]:
list(range(5))      
# creates a list of numbers from 0 to 4 using the range function, which we will see later
# 5 is NOT included

[0, 1, 2, 3, 4]

In [178]:
list(range(2, 50, 3))      # range with steps

[2, 5, 8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44, 47]

In [180]:
# in()

"red" in colors     
# returns True if the element is in the list
# its good for example to see a name in a very long list of people

True

In [182]:
# append()
# append = to add something

colors = ["red", "green", "blue", "yellow", "orange", "purple"]
print(colors)

colors.append("black")    # adds an element at the end of the list

print(colors)

['red', 'green', 'blue', 'yellow', 'orange', 'purple']
['red', 'green', 'blue', 'yellow', 'orange', 'purple', 'black']

In [186]:
# extend()

colors = ["red", "green", "blue", "yellow", "orange", "purple"]
print(colors)

colors.extend(["black", "white"])    # adds multiple elements from another list at the end of the list
print(colors)

['red', 'green', 'blue', 'yellow', 'orange', 'purple']
['red', 'green', 'blue', 'yellow', 'orange', 'purple', 'black', 'white']

In [184]:
colors = ["red", "green", "blue", "yellow", "orange", "purple"]

colors.append(["black", "white"])    # this will add another list to the list, not its elements as in extend()
print(colors)
# append doesnt work to put multiple words, it adds them liek seen below

['red', 'green', 'blue', 'yellow', 'orange', 'purple', ['black', 'white']]

In [198]:
# insert(<index>, <element>)

colors = ["red", "green", "blue", "yellow", "orange", "purple"]
print(colors)

colors.insert(2, "magenta")    # adds an element at the specified index
print(colors)

['red', 'green', 'blue', 'yellow', 'orange', 'purple']
['red', 'green', 'magenta', 'blue', 'yellow', 'orange', 'purple']

In [199]:
# remove(<element>)

print(colors)

colors.remove("yellow")    

# removes the first occurrence of the element
# in this example if theres 2 yellows, it deletes only the first one

#if you run it 2 times, the second one is an error because it already removed it

print(colors)

['red', 'green', 'magenta', 'blue', 'yellow', 'orange', 'purple']
['red', 'green', 'magenta', 'blue', 'orange', 'purple']

In [200]:
# pop(<index>)

print(colors)

used_color = colors.pop(2)    # removes the element at the specified index

print(colors)
print(used_color)

['red', 'green', 'magenta', 'blue', 'orange', 'purple']
['red', 'green', 'blue', 'orange', 'purple']
magenta

In [201]:
print(colors)

used_color2 = colors.pop()    # removes the last element if no index is specified

print(colors)
print(used_color2)

['red', 'green', 'blue', 'orange', 'purple']
['red', 'green', 'blue', 'orange']
purple

In [195]:
colors.pop()

print(colors)

['red', 'green', 'blue', 'orange']

In [163]:
# clear()

revenue = [45.76, 5.22, 12.34, 105.27, 34.56, 2.89, 67.89]

revenue.clear()    # removes all the elements of the list

print(revenue)

[]

In [207]:
# count(<element>)

animals_observed = ["cat", "dog", "bird", "cat", "cat", "dog", "bird", "cat", "dog", "dog", "cat", "fish"]

print(animals_observed.count("cat"))    # returns the number of occurrences of the element

5

In [208]:
# index(<element>)

print(animals_observed.index("bird"))    

# returns the index of the first occurrence of the element
# in which position is the element in

2

---
## 4. Comparison operators

Comparison operators are used to compare two values. They return a boolean value (True or False) depending on the result of the comparison. The most common comparison operators are:

- equal (==)  
- not equal (!=)  
- greater than (>)  
- less than (<)  
- greater than or equal (>=)  
- less than or equal (<=)

In [209]:
a = 3
b = 5

print(a == b)
print(a != b) # its the difference (el igual tachado)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True
False
True

#### 4.1. Combining Boolean Values

As we saw in the previous lesson, Boolean values can be combined with the logical operators **and**, **or** and **not**. The **and** operator returns True if both values are True. The **or** operator returns True if at least one of the values is True. The **not** operator returns the opposite of the value.

In [210]:
# We can build complex logics considering multiple conditions combined

have_umbrella = True
rain_level = 3
have_hood = False
is_workday = True

prepared_for_weather = have_umbrella or rain_level < 5 and have_hood or not rain_level > 0 and is_workday

print(prepared_for_weather)

True

In [ ]:
print(f"{have_umbrella} or {rain_level < 5} and {have_hood} or not {rain_level > 0} and {is_workday}")

True or True and False or not True and True

---
## 5. Conditional statements

Conditional statements are used to execute different blocks of code depending on the result of a comparison. We have 3 conditional statements (if, elif and else) and we can combine them in the following ways:

- if 

- if - else

- if - elif - else

- if - elif - elif - ... - else

In [252]:
rain_level = 3 # este es el unico numero que debe ser rellenado, los demas no se tocan

In [253]:
if rain_level > 3:
    print("Bring an umbrella")

In [254]:
if rain_level > 3:
    print("Bring an umbrella")
else:
    print("Leave the umbrella at home")

Leave the umbrella at home

In [255]:
if rain_level <= 3:
    print("Leave the umbrella at home")
elif rain_level <= 8:
    print("Bring an umbrella")
else:
    print("Better bring the kayak...")

Leave the umbrella at home

In [256]:
if rain_level <= 3:  #its a common mistake to put a number higher here than the next 
    print("Leave the umbrella at home")
elif rain_level <= 8:   
    print("Bring an umbrella")
elif rain_level <= 10:
    print("Better bring the kayak...")
else:
    print("ERROR: Your rain sensor is broken!")

Leave the umbrella at home

In [241]:
user = "John"
password = "1234"

if user == "John" and password == "1234":     # Both conditions must be True # AND is a * in a way
    print("Welcome John!")
else:
    print("Wrong credentials!")

Welcome John!

In [242]:
my_number = 123
lottery_winners = [358, 909, 344, 278]

if my_number in lottery_winners:
    print("You won the lottery!")
else:
    print("Better luck next time...")

Better luck next time...

In [244]:
my_number = 123
lottery_winners = [358, 909, 344, 278]

if True:
    print("You won the lottery!")
else:
    print("Better luck next time...") # va en gris porque sabe que con esa logica nunca puede ser real

You won the lottery!

In [245]:
is_employee = False

if is_employee:
    print("Welcome to the company!")    # this will be printed only if is_employee is True

print("Hello there!")                   # this will be always printed

Hello there!

---
## 6. Loops

Loops are used to execute a block of code multiple times without having to write it for each iteration. We have 2 types of loops:

- **for**: executes a block of code for each element in a sequence.

- **while**: executes a block of code while a condition is True.

#### 6.1. For Loops

In [409]:
tools = ["hammer", "screwdriver", "wrench", "saw"]

for tool in tools:
    print(f"I have a {tool}")

I have a hammer
I have a screwdriver
I have a wrench
I have a saw

In [260]:
tools = ["hammer", "screwdriver", "wrench", "saw"]

for tool in tools:
    print(f"I have a {tool}")   #this
    print("------")             #and this are inside the loop

print("finish") #this is outside the loop

I have a hammer
------
I have a screwdriver
------
I have a wrench
------
I have a saw
------
finish

In [262]:
for n in [1, 2, 4, 6]:
    print (n)

1
2
4
6

In [264]:
# The range() function

# range(<start>, <stop>, <step>)
# we need to create a list from the range() function to see the values

list(range(5))

[0, 1, 2, 3, 4]

In [263]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [271]:
# Printing all even numbers from 0 to 9

for i in range(10):
    if i % 2 == 0:   #all even numbers
        print(i)
    else:            #every other number (prime numbers in this example)
        print(f"{i} is odd")
        #print(i, "is odd")  --- another way of typing the above

0
1 is odd
2
3 is odd
4
5 is odd
6
7 is odd
8
9 is odd

In [273]:
my_var = 34347

print (f"hello {my_var} is a nice number")

hello 34347 is a nice number

In [274]:
my_var = 34347
a = "abc"

print (f"hello {my_var} is {a} number")

hello 34347 is abc number

In [275]:
# Simply repeating something n times

for _ in range(4):
    print("Hello")

Hello
Hello
Hello
Hello

In [281]:
"a" == "A" #this is false because in Python upper letter case and lower case are different

False

In [282]:
all_names = ["John", "Mary", "Peter", "Jane", "Mark", "Chris", "Alice", "Bob"]

names_with_a = []

for name in all_names:
    if ("a" in name) or ("A" in name): #one is true or both with the or
        names_with_a.append(name)

print(names_with_a)

['Mary', 'Jane', 'Mark', 'Alice']

In [288]:
all_names = ["John", "Mary", "Peter", "Jane", "Mark", "Chris", "Alice", "Bob"]

names_with_a = []

for name in all_names:
    l_name = name.lower() #l.name because Enric doesnt want to change the original name variable
    if "a" in name.lower():
            names_with_a.append(name)
print(names_with_a)

['Mary', 'Jane', 'Mark', 'Alice']

In [297]:
nums = [1, 5, 6, 8, 5]
tax = 1.1 #110%

final_nums = []
for num in nums:
    final_num = num * tax
    final_nums.append(final_num)

final_nums #in notebooks you can put directly the variable without putting print

# the 6.60000000000005 is an error that happens in Python / Javascrypt

[1.1, 5.5, 6.6000000000000005, 8.8, 5.5]

#### 6.2. While Loops

```python	
while <condition>:
    <instructions>
```

In [300]:
i = 0
i = i + 1

i

1

In [305]:
i = 0
while i < 7: #its basically a loop while THIS rule/condition is not met
    print(i)
    i += 1 #your adding 1 every time until its less than 7

0
1
2
3
4
5
6

In [308]:
i = 0
while i <= 7: #same as before but its 7 equal or lower
    print(i)
    i += 1

0
1
2
3
4
5
6
7

In [314]:
boxes = 5

while boxes > 0:
    #send the box
    boxes -= 1 #substracting 1 each time
    print(f"{boxes} boxes remaining") #this is a common way to exaplin with a string to understand how many are remaining

4 boxes remaining
3 boxes remaining
2 boxes remaining
1 boxes remaining
0 boxes remaining

In [315]:
# while loops can be dangerous if we don't update the condition...

# while True:
#     print("This is an infinite loop")

In [1]:
teams = ["Barcelona", "Real Madrid", "Manchester United", "Juventus", "Bayern Munich", "Liverpool"]

print("Teams with long names:\n")
i = 0
while i < len(teams):
    if len(teams[i]) > 10:
        print(teams[i], " -> has", len(teams[i]), "characters")
    i += 1

Teams with long names:

Real Madrid  -> has 11 characters
Manchester United  -> has 17 characters
Bayern Munich  -> has 13 characters

In [ ]:
# try doing the last example with a for loop

#### 6.3. break

The break statement is used to exit a loop before it is completed. It is normally used inside a conditional statement.

In [317]:
movies = [
    "The Godfather", 
    "The Shawshank Redemption", 
    "Schindler's List", 
    "Raging Bull", 
    "Casablanca", 
    "Citizen Kane", 
    "Gone with the Wind", 
    "The Wizard of Oz", 
    "Lawrence of Arabia"
]

searched_movie = "Casablanca"

for movie in movies:
    print("Looking at", movie, "...")
    if movie == searched_movie:
        print("We found it!")
        break

Looking at The Godfather ...
Looking at The Shawshank Redemption ...
Looking at Schindler's List ...
Looking at Raging Bull ...
Looking at Casablanca ...
We found it!

In [320]:
moisture_sensor_reads = [23, 19, 10, 1, 34, -5, 10, 22, 12, 15]

i = 0
while i < len(moisture_sensor_reads):
    print(f"Reading {i}: {moisture_sensor_reads[i]} %")
    if moisture_sensor_reads[i] < 0:
        print("WARNING: Negative value detected! Stopping the sensor...")
        break
    print("good") #this is printed unless the break happens
    i += 1

Reading 0: 23 %
good
Reading 1: 19 %
good
Reading 2: 10 %
good
Reading 3: 1 %
good
Reading 4: 34 %
good
Reading 5: -5 %
WARNING: Negative value detected! Stopping the sensor...

#### 6.4. continue

The continue statement is used to skip the rest of the instructions in a loop and continue with the next iteration. It is normally used inside a conditional statement.

In [324]:
names = ["John", "MARY", "peter", "JANE", "Bob"] #convert all the lowercase to uppercase example

for name in names:
    print(f"\nProcessing {name}...")
    if name.isupper():
        print("Already correct, continuing...")
        continue                               #it stops here unless the condition is not met

    print("Converting to uppercase...")
    name = name.upper()
    print("Converted:", name)

Processing John...
Converting to uppercase...
Converted: JOHN

Processing MARY...
Already correct, continuing...

Processing peter...
Converting to uppercase...
Converted: PETER

Processing JANE...
Already correct, continuing...

Processing Bob...
Converting to uppercase...
Converted: BOB

---
## 7. Functions

Functions are blocks of code that can be executed multiple times. They are defined with the keyword **def** followed by the name of the function and the arguments between parentheses. Names of functions are normally the verbs of the action to perform. The body of the function is indented and it can optionally contain a return statement to return a value. Functions can also receive parameters to modify their behaviour.

In [325]:
def say_hello():
    print("Hello!")

In [326]:
# We need to call the function to execute it

say_hello()

Hello!

In [328]:
# We can send parameters to the function

def say_hello(name):
    print(f"Hello {name}!")

say_hello("John")
#say_hello(name="John")

Hello John!

In [331]:
n = 3
print(type(n))
f"num {3}"

<class 'int'>

'num 3'

In [412]:
def say_hello(name, age):
    print(f"Hello {name}! You are {age} years old.") #the f here is for? without it, it doesn´t work

say_hello("John", 25) #john is a string and 25 is a integer
say_hello("Mary", 30)
say_hello("Peter", 40)

Hello John! You are 25 years old.
Hello Mary! You are 30 years old.
Hello Peter! You are 40 years old.

In [332]:
say_hello("John", 25) 
say_hello("Mary", 30)
say_hello("Peter", 40)

Hello John! You are 25 years old.
Hello Mary! You are 30 years old.
Hello Peter! You are 40 years old.

In [333]:
def say_hello(name, age): #last example but with input, to add your name or age
    name = input()
    age = input()
    print(f"Hello {name}! You are {age} years old.")

say_hello("John", 25) #john is a string and 25 is a integer
say_hello("Mary", 30)
say_hello("Peter", 40)

Hello 10! You are 10 years old.
Hello 20! You are 20 years old.
Hello 30! You are 30 years old.

In [340]:
a = 3 + 4

In [341]:
# Functions can return values

def add(a, b):
    sum1 = a + b
    print("we are printing from the function", sum1)

    return sum1

result = add(2, 3)
print(result)

we are printing from the function 5
5

In [345]:
add(6,17) #example that the equation is made before and you dont need to manually make it everytime
# sum1 = a + b

we are printing from the function 23

23

In [ ]:
add(2, 3)

5

In [350]:
def convert_dollar_to_euro(dollars, exchange_rate):
    euros = dollars * exchange_rate

    return euros # without the return function the euros wont be called when they are called afterwards

In [352]:
dollars = 100
exchange_rate = 0.91

euros = convert_dollar_to_euro(dollars, exchange_rate)

print(f"{dollars} dollars are {euros} euros")

100 dollars are 91.0 euros

In [353]:
print(f"{dollars} dollars are {convert_dollar_to_euro(dollars, exchange_rate)} euros")

100 dollars are 91.0 euros

In [354]:
# If functions don't return any value they will return a None object by default

def say_hello(name):
    print(f"Hello {name}!")

result = say_hello("John")
print("Result:", result)

Hello John!
Result: None

#### None

**None** is a special value that represents the absence of a value. It is returned by functions that don't have a return statement. It is also used to initialize variables that will be assigned a value later.

In [359]:
var = None #this is like false
#var = "John"

if var:
    print("hello")

In [360]:
None and True

In [362]:
# One last example

def get_pay_amount(num_hours, hourly_wage, tax_bracket):
    # Pre-tax pay
    pay_pretax = num_hours * hourly_wage
    # After-tax pay
    pay_aftertax = pay_pretax * (1 - tax_bracket)

    return pay_aftertax

In [363]:
pay_aftertax = get_pay_amount(num_hours=40, hourly_wage=24, tax_bracket=.22)

print(pay_aftertax)

748.8000000000001

In [364]:
get_pay_amount(40, 24, .22)     # this will also work, but it's less readable

748.8000000000001

In [365]:
num_hours=40
hourly_wage=24
tax_bracket=.22

get_pay_amount(num_hours, hourly_wage, tax_bracket)         # this way can be better

748.8000000000001

---
## 8. Exercises

#### Ex. 1

Write a program that detects how many times the substring "2023" appears in a text story and then it replaces all the occurrences of "2023" with "2024".

In [374]:
story = """In the year 2023, humanity had made a significant leap in technology. It was in 2023 when we finally established the first human colony on Mars. The project, aptly named "Mars 2023", was a testament to human will and innovation.

The world watched in anticipation as the first crew members of Mars 2023 took their first steps on the red planet. It was a moment that echoed Neil Armstrong's historic moon landing, but this time in the year 2023, and on a whole new planet.

Back on Earth, in 2023, people celebrated this achievement. It was a beacon of hope in a world that had seen its share of challenges. The year 2023 marked a new era for humanity, one where the stars were no longer out of our reach.

By the end of 2023, we had not only reached Mars but created a sustainable living environment there. The year 2023 will forever be remembered as the year we truly became a space-faring civilization.
"""

In [366]:
# Your code here
# This is used when in a page you want to change from one year to another and replace everything inside it

In [375]:
print(story.count("2023"))

9

In [376]:
print(story.replace("2023","2024"))

In the year 2024, humanity had made a significant leap in technology. It was in 2024 when we finally established the first human colony on Mars. The project, aptly named "Mars 2024", was a testament to human will and innovation.

The world watched in anticipation as the first crew members of Mars 2024 took their first steps on the red planet. It was a moment that echoed Neil Armstrong's historic moon landing, but this time in the year 2024, and on a whole new planet.

Back on Earth, in 2024, people celebrated this achievement. It was a beacon of hope in a world that had seen its share of challenges. The year 2024 marked a new era for humanity, one where the stars were no longer out of our reach.

By the end of 2024, we had not only reached Mars but created a sustainable living environment there. The year 2024 will forever be remembered as the year we truly became a space-faring civilization.

#### Ex. 2

Write a program that given a list of lists of numbers, representing the salaries of the employees of a company in each team, prints the maximum value of each team. It has to use a loop to iterate through every team and find its maximum value to print it. 

Then calculate the total number of employees in the company accross all the teams. (with code, not by hand, of course).

In [3]:
salaries_per_team = [
    [14000, 8700, 12000, 43000], 
    [10000, 12000, 10000, 22000, 14500, 19700], 
    [9000, 15000, 10300], 
    [16200, 7500, 11000, 18100, 19500]
]

In [ ]:
# Calculate the maximum salary of each team and print it

In [4]:
#salaries_per_team = [[14000, 8700, 12000, 43000], 
#    [10000, 12000, 10000, 22000, 14500, 19700], 
#    [9000, 15000, 10300], 
#    [16200, 7500, 11000, 18100, 19500]]

for max_salary in salaries_per_team:
    print(f"The max salary is {max(max_salary)}")

The max salary is 43000
The max salary is 22000
The max salary is 15000
The max salary is 19500

In [5]:
# DO NOT TAKE THE FOLLOWING INTO AN ACCOUNT, I WANTED TO KNOW HOW TO ENUMERATE EACH TEAM AUTOMATICALLY, AND NOT MANUALLY. 
# THIS USES THE "ENUMERATE" FUNCTION WHICH WE HAVENT LEARNED YET
# I LEFT THIS BECAUSE I WANT TO LEARN ANOTHER WAY TO DO IT

# Iterate through each team and find the maximum salary
for i, team_salaries in enumerate(salaries_per_team, start=1): #enumerate isnt something we have seen in class yet
    max_salary = max(team_salaries)
    print(f"Maximum salary for Team {i}: ${max_salary}")

Maximum salary for Team 1: $43000
Maximum salary for Team 2: $22000
Maximum salary for Team 3: $15000
Maximum salary for Team 4: $19500

In [479]:
# Calculate the total number of employees in the company accross all teams and print it

In [6]:
total_employees = sum(len(team) for team in salaries_per_team)
print(f"Total number of employees in the company: {total_employees}")

Total number of employees in the company: 18

#### Ex 3. 

Now create a function that given the previous list, it returns another list with the total sum of salaries of each team. It has to create a list for the total salaries of each team, and create a loop that iterates over all teams and sums the salaries of each employee.

In [432]:
#def calculate_total_teams_salaries_list(salaries_per_team):
#    total_team_salaries = []
#    # Your code here

In [489]:
print("Total sum of salaries of each team (the number 1,2,3 and 4 are the teams):")
def calculate_total_teams_salaries_list(salaries_per_team):
    total_team_salaries = []

    for i in range(len(salaries_per_team)):
        team_salaries = salaries_per_team[i]
        total_salary = sum(team_salaries)
        total_team_salaries.append(total_salary)

    return total_team_salaries

total_salaries = calculate_total_teams_salaries_list(salaries_per_team)

a = 1
for salary in total_salaries:
    print(salary, a)
    a += 1

#for i in range(len(total_salaries)):
#    print(f"Total salary for Team {i + 1}: ${total_salaries[i]}")
# the 1, 2, 3 ,4 after each total salary are the number of the teams

Total sum of salaries of each team (the number 1,2,3 and 4 are the teams):
77700 1
88200 2
34300 3
72300 4

In [490]:
# Don't modify this. If your function works correctly, this cell won't return any error

assert calculate_total_teams_salaries_list(salaries_per_team) == [77700, 88200, 34300, 72300]

print("Your function is correct!")

Your function is correct!

In [484]:
# DO NOT TAKE THE FOLLOWING INTO AN ACCOUNT, I WANTED TO KNOW HOW TO ENUMERATE EACH TEAM AUTOMATICALLY, AND NOT MANUALLY. 
# THIS USES THE "ENUMERATE" FUNCTION WHICH WE HAVENT LEARNED YET
# I LEFT THIS BECAUSE I WANT TO LEARN ANOTHER WAY TO DO IT

def calculate_total_teams_salaries_list(salaries_per_team):
    total_team_salaries = []

    for team_salaries in salaries_per_team:
        total_salary = sum(team_salaries)
        total_team_salaries.append(total_salary)
    
    return total_team_salaries

total_salaries = calculate_total_teams_salaries_list(salaries_per_team)

for i, total_salary in enumerate(total_salaries, start=1): # how to do this without enumerate
    print(f"Total salary for Team {i}: ${total_salary}")

calculate_total_teams_salaries_list

Total salary for Team 1: $77700
Total salary for Team 2: $88200
Total salary for Team 3: $34300
Total salary for Team 4: $72300

#### Ex 4.

Write a function called check_divisible that receives two numbers as arguments and returns True if the first number is divisible by the second number and False otherwise.

In [7]:
# Complete the function

def check_divisible(num1, num2):
    return (num1 % num2) == 0      #es simple, se usa el % (modulo) para saber si lo dividis si te sobra o no

In [8]:
# Don't modify this. If your function works correctly, this cell won't return any error

assert check_divisible(9, 3) == True
assert check_divisible(10, 3) == False
assert check_divisible(10, 2) == True
assert check_divisible(10, 5) == True
assert check_divisible(1870, 34) == True

print("Your function is correct!")

Your function is correct!

#### Ex 5.

Create a new function called add_chars that given two strings, it returns the sum of the total number of characters of both strings.

In [493]:
# Your code here
def add_chars(string1,string2):
    return len(string1) + len(string2)

In [494]:
# Don't modify this. If your function works correctly, this cell won't return any error

assert add_chars("a", "b") == 2
assert add_chars("Hello", "World") == 10
assert add_chars("abc", "defghijkl") == 12

print("Your function is correct!")

Your function is correct!