## EAE - Introduction to Programming Languages for Data 
## Day 3 - 28/11/2023

### Instructor:  
Enric Domingo  
*Machine Learning and Software Engineer at ERNI*  
edomingod@professional.eae.es

#### Python fundamentals:

- Finish prev. session
0. Recap
1. Dictionaries
2. Tuples
3. Sets
4. File I/O
5. Intro to Classes and Object Oriented Programming
6. Exercises

## 0. Recap

In the last session we saw: Data Types conversion, some String methods, Python Lists, Comparison Operators, Conditional Statements, Loops and Functions.

Let's do one more exercise to recap:

Write a function that receives a list of names and a character as the parameters and returns the name that contains more times that letter. If there is a tie, return the first one.

In [23]:
def find_max_char_name(names, char):

    count_list = []
    for name in names:
        char_count = name.count(char)
        count_list.append(char_count)

    max_count = max(count_list)
    max_index = count_list.index(max_count)
    max_char_name = names[max_index]

    return max_char_name                     #this return is needed for the name to appear


names = ["John", "Mary", "James", "Maaax"]

target_char = "a"                            #showing the name with the most a in its name

find_max_char_name(names, target_char)

'Maaax'

## 1. Dictionaries

Dictionaries are unordered mappings for storing objects. Previously we saw how lists store objects in an ordered sequence, dictionaries use a key-value pairing instead. This key-value pair allows users to quickly grab objects without needing to know an index location.

Dictionaries use curly braces and colons to signify the keys and their associated values. For example:

```python
my_dict = {"key1": "value1", "key2": "value2"}
```

Dictionaries' keys can be strings, numbers, or tuples, but they must be immutable. Dictionaries' values can be anything, including lists or other dictionaries.

In [24]:
# Creating dictionaries

my_dict = {"key1": "value1", "key2": "value2", "key3": "value3"}    # the most common way 

print(type(my_dict))
print(my_dict)

<class 'dict'>
{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [25]:
my_dict = dict([("key1", "value1"), ("key2", "value2"), ("key3", "value3")])    # another way   

my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [26]:
my_dict = dict(key1="value1", key2="value2", key3="value3")         # another way    

my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [27]:
# Accessing values

print(my_dict["key1"])
print(my_dict["key3"])

value1
value3

In [52]:
my_str = "abc" #example added about strings cannot be changed

my_str(0) == "z"

TypeError: 'str' object is not callable

In [53]:
# Adding new key-value pairs

my_dict["key4"] = "value4"

print(my_dict)

{'key2': 'value2', 'key3': 'value3', 'key4': 'value4', 'name': 'value4'}

In [54]:
# Adding new key-value pairs

my_dict["name"] = "value4" #new element called name

print(my_dict)

{'key2': 'value2', 'key3': 'value3', 'key4': 'value4', 'name': 'value4'}

In [55]:
# Updating values

my_dict["key1"] = "new_value1"

print(my_dict)

{'key2': 'value2', 'key3': 'value3', 'key4': 'value4', 'name': 'value4', 'key1': 'new_value1'}

In [56]:
# Deleting key-value pairs

del my_dict["key1"]

print(my_dict)

{'key2': 'value2', 'key3': 'value3', 'key4': 'value4', 'name': 'value4'}

In [273]:
rand_dict = {
    "a": [1, 2, 3],
    "b": "hello",
    "c": True,
    "d": {"aa": 1, "bb": 2, "cc": 3},
}

rand_dict["a"][1]
#rand_dict["d"]["aa"]

2

In [69]:
# A more useful example

user1 = {
    "name": "John", 
    "age": 30, 
    "city": "New York",
    "email": "john@hello.com",
    "phone": "123456789",
    "has_license": False,
}

user2 = {
    "name": "Mary", 
    "age": 26, 
    "city": "Paris",
    "email": "mary@hello.com",
    "phone": "123123451",
    "has_license": True,
}

user3 = {
    "name": "Bob", 
    "age": 38, 
    "city": "Sao Paulo",
    "email": "bob@hello.com",
    "phone": "456370271",
    "has_license": True,
}

users = [user1, user2, user3]

for user in users:
    print(user["phone"])

123456789
123123451
456370271

In [70]:
for user in users:
    if user["has_license"]:
        print(user["name"], "has a license, send email to", user["email"])

Mary has a license, send email to mary@hello.com
Bob has a license, send email to bob@hello.com

In [73]:
# keys()
#it behaves as a list

print(user1.keys())

dict_keys(['name', 'age', 'city', 'email', 'phone', 'has_license'])

In [74]:
# values()

print(user1.values())

dict_values(['John', 30, 'New York', 'john@hello.com', '123456789', False])

In [77]:
users_db = {            # every user id card will be its dictionary key, because every key has to be UNIQUE (ej: ICR en Dafiti)
    "65747488A": user1,
    "12345678B": user2,
    "98765432C": user3,
}         
# this is also useful for SQL

In [78]:
# I want to access to the name and phone number of the user with id card 12345678B

target_id = "12345678B"

name = users_db[target_id]["name"]
phone = users_db[target_id]["phone"]

print(f"ID: {target_id} \nName: {name} \nPhone: {phone}")

ID: 12345678B
Name: Mary
Phone: 123123451

In [80]:
# len()
# how many objects to we have

print(len(users_db))            # number of users (keys)

3

In [82]:
for key, value in users_db.items(): #a for loop to have key and value
    print("-----------")
    print("key:", key)
    print("value:", value)

-----------
key: 65747488A
value: {'name': 'John', 'age': 30, 'city': 'New York', 'email': 'john@hello.com', 'phone': '123456789', 'has_license': False}
-----------
key: 12345678B
value: {'name': 'Mary', 'age': 26, 'city': 'Paris', 'email': 'mary@hello.com', 'phone': '123123451', 'has_license': True}
-----------
key: 98765432C
value: {'name': 'Bob', 'age': 38, 'city': 'Sao Paulo', 'email': 'bob@hello.com', 'phone': '456370271', 'has_license': True}

In [41]:
# Now try to add a new user to the database having the following information:

# ID: 12345678D
# Name: Alice
# Age: 25
# City: Hong Kong
# Email: alice@hello
# Phone: 987654321
# Has license: True

# Your turn!

In [95]:
#adding the user4 at the same db of the other users

user4 = {
    "name": "Alice",          #name with lowercase
    "age": 25, 
    "city": "Hong Kong",
    "email": "alice@hello.com",
    "phone": "987654321",
    "has_license": True,
}

users_db["12345678D"] = user4 #adding the ID to the last user

users_db

{'65747488A': {'name': 'John',
  'age': 30,
  'city': 'New York',
  'email': 'john@hello.com',
  'phone': '123456789',
  'has_license': False},
 '12345678B': {'name': 'Mary',
  'age': 26,
  'city': 'Paris',
  'email': 'mary@hello.com',
  'phone': '123123451',
  'has_license': True},
 '98765432C': {'name': 'Bob',
  'age': 38,
  'city': 'Sao Paulo',
  'email': 'bob@hello.com',
  'phone': '456370271',
  'has_license': True},
 '12345678D': {'name': 'Alice',
  'age': 25,
  'city': 'Hong Kong',
  'email': 'alice@hello.com',
  'phone': '987654321',
  'has_license': True}}

In [96]:
#another way of doing it the example

user1 = {
    "ID": "65747488A",
    "name": "John", 
    "age": 30, 
    "city": "New York",
    "email": "john@hello.com",
    "phone": "123456789",
    "has_license": False,
}

user2 = {
    "ID": "12345678B",
    "name": "Mary", 
    "age": 26, 
    "city": "Paris",
    "email": "mary@hello.com",
    "phone": "123123451",
    "has_license": True,
}

user3 = {
    "ID": "98765432C",
    "name": "Bob", 
    "age": 38, 
    "city": "Sao Paulo",
    "email": "bob@hello.com",
    "phone": "456370271",
    "has_license": True,
}

user4 = {
    "ID": "12345678D",
    "name": "Alice", 
    "age": 25, 
    "city": "Hong Kong",
    "email": "alice@hello.com",
    "phone": "987654321",
    "has_license": True,
}

users = [user1, user2, user3, user4]

print(users)

[{'ID': '65747488A', 'name': 'John', 'age': 30, 'city': 'New York', 'email': 'john@hello.com', 'phone': '123456789', 'has_license': False}, {'ID': '12345678B', 'name': 'Mary', 'age': 26, 'city': 'Paris', 'email': 'mary@hello.com', 'phone': '123123451', 'has_license': True}, {'ID': '98765432C', 'name': 'Bob', 'age': 38, 'city': 'Sao Paulo', 'email': 'bob@hello.com', 'phone': '456370271', 'has_license': True}, {'ID': '12345678D', 'name': 'Alice', 'age': 25, 'city': 'Hong Kong', 'email': 'alice@hello.com', 'phone': '987654321', 'has_license': True}]

## 2. Tuples

Tuples are very similar to lists. However they have one key difference - immutability (whenever you create one you cant change it, you have to create another one). Once an element is inside a tuple, it can not be reassigned. Tuples use parenthesis: 

```python
my_tuple = (1, 2, 3)
```

Tuples are less used than lists, but they are useful when you want to make sure that the data cannot be changed. They can be also more efficient in some scenarios.

In [42]:
my_tuple = (1, 2, 3, 4, 5)

print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
(1, 2, 3, 4, 5)

In [145]:
"abc"                   # string
[1, 2, 3]               # list
{"a": 1, "b": 2, "c":3} # dict
(1, 2, 3)               # tuple : these cannot be changed
{1, 2, 3}               # 4th type : sets (visto mas abajo), its like a dict but its only values (not keys)

{1, 2, 3}

You can create Tuples of any type (string, integer, etc)

In [100]:
vehicles = ("car", "motorbike", "plane", "boat", "bicycle")

print(vehicles[0])

car

In [101]:
vehicles[0] = "truck"    # tuples are immutable, so this will give an error

TypeError: 'tuple' object does not support item assignment

In [108]:
s = "abc"
l = [1, 2, 3]
t = ("a", "b", "c")
len(t)

3

In [109]:
# len()

print(len(vehicles)) #vehicles is a variable that has 5 elements inside

print(vehicles)

5
('car', 'motorbike', 'plane', 'boat', 'bicycle')

In [125]:
l = [l]
type(l)

list

In [112]:
(1 + 2)

3

In [113]:
# single element tuples

my_tuple = (1,)
print(type(my_tuple))

not_a_tuple = (1)
print(type(not_a_tuple))

<class 'tuple'>
<class 'int'>

In [134]:
# you cant modify a tuple but you can create it as a list and then modify the list, like seen in the next example
t = (3, 4, 5)
l = list(t)
print(t)

l[0] = 10
t = tuple(l)
print(t)

(3, 4, 5)
(10, 4, 5)

In [140]:
# (x, y) coordinates of a map, a random example

# we can put tuples as the key of a dictionary because they are immutable
coordinates = {
    (1, 1): "A",   # key : tuple
    (7, 4): "B",
    (5, 6): "C",
    (7, 8): "D",
}

# You don't have to understand this code, it's just to print the map
widht = 10
height = 10

print("  0 1 2 3 4 5 6 7 8 9")
for x in range(widht):
    print(x, end=" ")
    for y in range(height):
        if (x, y) in coordinates:
            print(f"{coordinates[(x, y)]} ", end="") #end: without this, everything will break
        else:
            print("- ", end="")
    print()

  0 1 2 3 4 5 6 7 8 9
0 - - - - - - - - - -
1 - A - - - - - - - -
2 - - - - - - - - - -
3 - - - - - - - - - -
4 - - - - - - - - - -
5 - - - - - - C - - -
6 - - - - - - - - - -
7 - - - - B - - - D -
8 - - - - - - - - - -
9 - - - - - - - - - -

In [138]:
# (x, y) coordinates of a map, a random example

# we can put tuples as the key of a dictionary because they are immutable
coordinates = {
    (1, 1): "A",   # key : tuple
    (7, 4): "B",
    (5, 6): "C",
    (7, 8): "D",
}

# You don't have to understand this code, it's just to print the map
widht = 10
height = 10

print("  0 1 2 3 4 5 6 7 8 9")
for x in range(widht):
    print(x, end=" ")
    for y in range(height):
        if (x, y) in coordinates:
            print(f"{coordinates[(x, y)]} ") #without end=
        else:
            print("- ")
    print()

  0 1 2 3 4 5 6 7 8 9
0 -
-
-
-
-
-
-
-
-
-

1 -
A
-
-
-
-
-
-
-
-

2 -
-
-
-
-
-
-
-
-
-

3 -
-
-
-
-
-
-
-
-
-

4 -
-
-
-
-
-
-
-
-
-

5 -
-
-
-
-
-
C
-
-
-

6 -
-
-
-
-
-
-
-
-
-

7 -
-
-
-
B
-
-
-
D
-

8 -
-
-
-
-
-
-
-
-
-

9 -
-
-
-
-
-
-
-
-
-

## 3. Sets

Sets are unordered collections of unique elements. Meaning there can only be one representative of the same object. They are useful when you want to avoid duplicates. They are also used to perform mathematical operations like union, intersection, difference, and symmetric difference.

Sets are created with curly braces:

```python
my_set = {1, 2, 3}
```

In [160]:
my_set = {1, 2, 3, 4, 5}

print(type(my_set))
print(my_set)

<class 'set'>
{1, 2, 3, 4, 5}

In [ ]:
my_set[0]       # sets are unordered, so this will give an error

TypeError: 'set' object is not subscriptable

In [147]:
my_set[0] = 10    # sets are mutable, but they dont have indexes so this will give an error

TypeError: 'set' object does not support item assignment

In [148]:
for element in my_set:          # we can access to the elements of a set with a for loop
    print(element)

1
2
3
4
5

In [161]:
print (my_set)

my_set.add(6)

print(my_set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}

In [163]:
my_set.remove(6)

my_set

{1, 2, 4, 5}

In [164]:
my_set2 = {"a", "b", "c"}

my_set2.add("def")

my_set2

{'a', 'b', 'c', 'def'}

In [166]:
my_set2.remove("a")

my_set2

{'b', 'c', 'def'}

In [170]:
cities = ["Madrid", "Barcelona", "Paris", "London", "Berlin", "Madrid", "Paris", "Madrid", "London", "London"]

print(len(cities), "cities")
print(cities)
print()

unique_cities = set(cities)
print(len(unique_cities), "unique cities")
print(unique_cities)

# [] are used for lists
# {} are used for sets

10 cities
['Madrid', 'Barcelona', 'Paris', 'London', 'Berlin', 'Madrid', 'Paris', 'Madrid', 'London', 'London']

5 unique cities
{'London', 'Berlin', 'Madrid', 'Paris', 'Barcelona'}

In [169]:
list(unique_cities)

['London', 'Berlin', 'Madrid', 'Paris', 'Barcelona']

In [178]:
temps = {
    "1/1": 30,
    "2/1": 27,
    "3/1": 26,
}
print(temp)

{'1/1': 30, '2/1': 27, '3/1': 26}

In [177]:
temp_date = ["1/1", "2/1", "3/1"]
temp_values = [30, 27, 26]

In [183]:
for k, v in temps.items():
    print(t, ":", v)

(10, 4, 5) : 30
(10, 4, 5) : 27
(10, 4, 5) : 26

In [186]:
t_d = []
t_v = []

for k in temps:
    t_d.append(k)
    t_v.append(temps[k])

In [189]:
print(t_d, t_v)

['1/1', '2/1', '3/1'] [30, 27, 26]

In [217]:
# Create a dictionary from the following 2 lists, where the keys are the temp_dates and the values are the temp_values

temp_dates = ["1/1", "2/1", "3/1"]
temp_values = [30, 27, 26]

In [201]:
type({}) #para chequear si es dict o no

dict

In [218]:
dict(zip(temp_dates, temp_values))

{'1/1': 30, '2/1': 27, '3/1': 26}

In [220]:
if len(temp_dates) == len(temp_values):
    temps_dicts = {}                                        # checking if the dic is ok
    for i in range(len(temp_dates)):
        temps_dicts[temp_dates[i]] = temp_values[i]

else:
    print("error! Dates and values have different lenghts") # si agrego un valor arriba en date y no values me tira este error

temps_dicts

{'1/1': 30, '2/1': 27, '3/1': 26}

## 4. File I/O

In Python, you can read from and write to files using built-in functions. The most common functions are open(), read(), write(), and close().

Here's a basic overview:

open(): This function is used to open a file. It returns a file object and is most commonly used with two arguments: open(filename, mode). The filename is the name of the file (and possibly the full path if the file isn't located in the same directory as the Python script). The mode argument is a string that indicates how the file will be opened. The modes are:

'r' for reading (default)
'w' for writing (creates a new file if it doesn't exist or truncates the file if it does)
'a' for appending (creates a new file if it doesn't exist)
'b' for binary mode
'+' for updating (reading and writing)
read(): This method reads the content of a file as a string. If you call it without arguments, it reads the entire file. If you provide a numerical argument, it reads up to that number of characters.

write(): This method writes a string to the file. If the file was opened in text mode, it writes a string, and if it was opened in binary mode, it should be bytes.

close(): This method closes the file. A closed file cannot be read or written anymore. It's important to close files as soon as you're done with them, as it's a best practice and helps free up system resources.

In [222]:
# Open a file for writing
my_file = open("test.txt", 'w')

# Write some text to the file
my_file.write("Hello, World!")

# Close the file
my_file.close()

# after running it you can see it in open new file

In [227]:
# Open the file for reading
f = open("test.txt", 'r') #r for reading, w for writing

# Read the entire contents of the file
print(f.read())

Hello, World!
This is new!!!

aadasdasadssdaadsasdsad

In [ ]:
filename = "test.txt"

with open(filename, "r") as f:
    text = f.read()

print(text)

Hello, World!

## 5. Intro to Classes and Object Oriented Programming

Object Oriented Programming (OOP) allows programmers to create their own objects that have methods and attributes. 

Almost everything in Python is an object, with its properties and methods.

A Class is like an object constructor, or a "blueprint" for creating objects.

A Class can have attributes (variables) and methods (functions).

Class names should be written in PascalCase, in contrast to function and variable names which should be written in snake_case.

In [228]:
class Point:        # this is the class definition
    x = 5
    y = 10

This is different that variables and functions

In [229]:
p1 = Point()        # p1 is an object of type Point

print("x:", p1.x)
print("y:", p1.y)

x: 5
y: 10

In [230]:
p2 = Point()        # p2 is another object of type Point

print("x:", p2.x)
print("y:", p2.y)

x: 5
y: 10

In [274]:
class User:

    def __init__(self, name, age, city):    # this is the constructor, assigning the attributes
        self.name = name                       
        self.age = age                      # self in Javascrypt is this
        self.city = city

    def say_hello(self):                    # this is a method
        print(f"Hello, my name is {self.name} and I'm {self.age} years old.")

    def getting_older(self, years=1):
        self.age += years
        print(f"Now I'm {self.age} years old.")

    def change_city(self, new_city):
        self.city = new_city
        print(f"I moved to {self.city}.")

In [232]:
print(type(User))
print(User)

<class 'type'>
<class '__main__.User'>

In [233]:
user1 = User("John", 30, "New York")        # user1 is an object of type User

print(type(user1))

<class '__main__.User'>

In [234]:
print(user1)

<__main__.User object at 0x0000018BFFC2F290>

In [276]:
# We can access to the attributes of the object user1
print(user1.name)
print(user1.age)
print(user1.city)

John
36
Barcelona

In [239]:
# Let's try the User methods

user1.say_hello()

Hello, my name is John and I'm 30 years old.

In [240]:
user1.getting_older()

Now I'm 31 years old.

In [241]:
user1.age

31

In [242]:
user1.getting_older(5)

Now I'm 36 years old.

In [244]:
user1.age

36

In [243]:
user1.change_city("Barcelona")

I moved to Barcelona.

In [245]:
user1.city

'Barcelona'

In [246]:
# Let's create more objects of the class User

user2 = User("Mary", 26, "Paris")
user3 = User("Bob", 38, "Sao Paulo")

In [247]:
user2.say_hello()
user3.say_hello()

Hello, my name is Mary and I'm 26 years old.
Hello, my name is Bob and I'm 38 years old.

## 6. Exercises

#### Ex 1.

Create a function that receives a list with different numbers and returns a list with the unique numbers, removing the repeated ones.

In [12]:
# Your code here
Numbers = [1,2,3,4,5,6,7,8,9,3,4,6,7,8,5]

print(len(Numbers), "numbers")
print(Numbers)
print()

unique_numbers = set(Numbers)
print(len(unique_numbers), "unique numbers")
print(unique_numbers)

# [] are used for lists
# {} are used for sets

15 numbers
[1, 2, 3, 4, 5, 6, 7, 8, 9, 3, 4, 6, 7, 8, 5]

9 unique numbers
{1, 2, 3, 4, 5, 6, 7, 8, 9}

#### Ex 2.

Word counter dictionary: create a function that receives a text string and returns a dictionary, being every key a different word in the text and every value the number of times each word appears in the string. The string won't have any punctuation marks, only words and spaces.

For example, if the input is "This blue ball is blue" the output should be {"This": 1, "blue": 2, "ball": 1, "is": 1}.

In [13]:
example_text = """There are so many cars in that street. Every car is parked next to other cars. My car is red but it looks fine."""

# Your code here

In [15]:
def text_words(text):
    word_count = {}
    words = text.split()
    for word in words:
        if word in word_count:
            word_count[word] += 1 
        else:
            word_count[word] = 1
    return word_count
print(text_words(example_text))

{'There': 1, 'are': 1, 'so': 1, 'many': 1, 'cars': 1, 'in': 1, 'that': 1, 'street.': 1, 'Every': 1, 'car': 2, 'is': 2, 'parked': 1, 'next': 1, 'to': 1, 'other': 1, 'cars.': 1, 'My': 1, 'red': 1, 'but': 1, 'it': 1, 'looks': 1, 'fine.': 1}

#### Ex 3. 

Run the following cell to create the file for the exercise. The file contains at every line, the name of the company and its price, separated by a colon ":" sign and at the end has the "dollars" string as the units. After running the cell you should see a stocks_prices.txt file in your folder.

Your task is to end up with a dictionary with every company name as the key of every element and the value to be the float value of its price.

To do it, you can open the file, read the entire content of it into a variable and split that long string by the new line character "\n". Then you will have a list with every company information in a string. After that you can split that string of every line by the ":" having the company name at the first position of that second list, and the rest of the string in the position 1. Then get the stock price value split again the second part of the line to remove the "dollars" part and you will have the price as a string, Convert the string into a float and you will be able to create the dictionary with the company name as the key and the value as the price in float type.

In [16]:
# Don't change this code, just make sure to run the cell before solving the exercise. 

stocks = """Apple: 12.5 dollars
Amazon: 5.0 dollars
Nokia: 2 dollars
Meta: 3.1 dollars
Google: 7.1 dollars
Tesla: 8.5 dollars 
Microsoft: 4.5 dollars
Alibaba: 2.5 dollars
Intel: 3.8 dollars
ASML: 11.2 dollars
"""

with open("stocks_prices.txt", "w") as f:
    f.write(stocks)

In [17]:
# Your code here

f = open("stocks_prices.txt", "r") #the f is the file

stock_info = f.read()

print(stock_info) # a single string with multiple lines

Apple: 12.5 dollars
Amazon: 5.0 dollars
Nokia: 2 dollars
Meta: 3.1 dollars
Google: 7.1 dollars
Tesla: 8.5 dollars
Microsoft: 4.5 dollars
Alibaba: 2.5 dollars
Intel: 3.8 dollars
ASML: 11.2 dollars

In [18]:
# I use another code line to not read the file everytime
# I want to separate every line here

stock_info_lines = stock_info.split("\n")

stock_info_lines

['Apple: 12.5 dollars',
 'Amazon: 5.0 dollars',
 'Nokia: 2 dollars',
 'Meta: 3.1 dollars',
 'Google: 7.1 dollars',
 'Tesla: 8.5 dollars ',
 'Microsoft: 4.5 dollars',
 'Alibaba: 2.5 dollars',
 'Intel: 3.8 dollars',
 'ASML: 11.2 dollars',
 '']

In [19]:
stock_info_dict = {}

for line in stock_info_lines:
    if line != "":
        company_info = (line.split(": "))
        print(company_info)
        #break  ---------------------               # here you can use the break to see if its working, like adding a comment
        company_name = company_info[0]              # the company name is the first of both
        price = company_info[1].strip(" dollars")
        print (price)
        price = float(price)                        # the float is used to convert the text to a number so it can be multiplied for example
                                                    # as seen in class day02
                                                    # - **float()**: normally used to convert an integer into a float or a string with character numbers into a float.
        stock_info_dict[company_name] = price

stock_info_dict

['Apple', '12.5 dollars']
12.5
['Amazon', '5.0 dollars']
5.0
['Nokia', '2 dollars']
2
['Meta', '3.1 dollars']
3.1
['Google', '7.1 dollars']
7.1
['Tesla', '8.5 dollars ']
8.5
['Microsoft', '4.5 dollars']
4.5
['Alibaba', '2.5 dollars']
2.5
['Intel', '3.8 dollars']
3.8
['ASML', '11.2 dollars']
11.2

{'Apple': 12.5,
 'Amazon': 5.0,
 'Nokia': 2.0,
 'Meta': 3.1,
 'Google': 7.1,
 'Tesla': 8.5,
 'Microsoft': 4.5,
 'Alibaba': 2.5,
 'Intel': 3.8,
 'ASML': 11.2}

In [20]:
stock_info_dict["Intel"]

3.8

#### Ex 4.

Create a Class Animal with the following attributes and methods:

- attributes: name, age, weight, sound, species

- methods:  
    - eat: *gains 1kg*
    - sleep: *prints "zzz"*
    - run: *loses 1kg* 
    - make_sound: *prints the sound of the animal*

In [22]:
class Animal:

    def __init__(self, name, age, weight, sound, species):    # this is the constructor, assigning the attributes
        self.name = name                       
        self.age = age                                        # self in Javascrypt is this
        self.weight = weight
        self.sound = sound
        self.species = species
        

    def eat(self):                                            # this is a method
        # This will increase the weight of the animal by 1 kg
        self.weight += 1
        print(f"{self.name} is eating. Weight is now {self.weight}kg")

    def sleep(self):
        # This wil print "zzz" as it sleeps
        print(f"zzz")

    def run(self):
        # This will make the animal lose 1kg when it runs
        self.weight -= 1
        print(f"{self.name} is running. Weight is now {self.weight}kg")

    def make_sound(self):
        # This will print the sound of the animal
        print(f"{self.name} says {self.sound}")

#### Ex 5. 

Crate 3 objects of the previous class: a dog, a cat and a cow.

Then make them eat, sleep, run and make sound.

In [23]:
dog = Animal(name="Figo", age=6, weight=30, sound="Woof", species="Dog")
cat = Animal(name="Michi", age=8, weight=8, sound="Meow", species="Cat")
cow = Animal(name="Sunny", age=2, weight=800, sound="Moo", species="Cow")

In [24]:
dog.eat()

Figo is eating. Weight is now 31kg

In [303]:
dog.sleep()

zzz

In [304]:
dog.run()

Figo is running. Weight is now 30kg

In [305]:
dog.make_sound()

Figo says Woof

In [306]:
cat.eat()

Michi is eating. Weight is now 9kg

In [307]:
cat.sleep()

zzz

In [308]:
cat.run()

Michi is running. Weight is now 8kg

In [309]:
cat.make_sound()

Michi says Meow

In [310]:
cow.eat()

Sunny is eating. Weight is now 801kg

In [311]:
cow.sleep()

zzz

In [312]:
cow.run()

Sunny is running. Weight is now 800kg

In [313]:
cow.make_sound()

Sunny says Moo